.board {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    padding:3px;
    justify-items: center;
    align-items: center;
}

.board div.activeRow {
    outline: 3px solid #fff;
    outline-offset: -6px;
}
#activeCell {
    outline: 6px solid #555;
    outline-offset: -6px;
    z-index: 1;
}


.board div.letter {
    width: 100%;
    aspect-ratio: 1;
    padding:0;
    background-color: hsl(160, 42%, 49%);
    border-color:hsl(160, 41%, 76%);
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board div.letter input {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    caret-color: transparent;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}


.board div.letter.word3x {
    background-color: red;
    position: relative;
}


.board div.letter.word2x {
    background-color: rgb(255, 144, 116);
}

.board div.letter.letter3x {
    background-color: rgb(34, 102, 228);
}

.board div.letter.letter2x {
    background-color: rgb(145, 229, 229);
}

.board div.letter input:not([value=""]) {
    background-color: #ede4cb;
}